<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TransunitMapper">
  <resultMap id="BaseResultMap" type="com.example.pojo.Transunit">
    <id column="transunitId" jdbcType="INTEGER" property="transunitid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="contactemail" jdbcType="VARCHAR" property="contactemail" />
    <result column="Registrationtime" jdbcType="TIMESTAMP" property="registrationtime" />
    <result column="companyid" jdbcType="INTEGER" property="companyid" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="rest" jdbcType="INTEGER" property="rest" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    transunitId, name, contactemail, Registrationtime, companyid, total, rest
  </sql>
  <select id="selectByExample" parameterType="com.example.pojo.TransunitExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from transunit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="listBycompanyid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select distinct `companyid`
    from transunit
    <where>
      transunit.`rest` > #{rest} or transunit.`rest` = #{rest}
    </where>
    group by  `companyid`
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transunit
    where transunitId = #{transunitid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from transunit
    where transunitId = #{transunitid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.pojo.TransunitExample">
    delete from transunit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.pojo.Transunit">
    insert into transunit (transunitId, name, contactemail, 
      Registrationtime, companyid, total, 
      rest)
    values (#{transunitid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{contactemail,jdbcType=VARCHAR}, 
      #{registrationtime,jdbcType=TIMESTAMP}, #{companyid,jdbcType=INTEGER}, #{total,jdbcType=INTEGER}, 
      #{rest,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.pojo.Transunit">
    insert into transunit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transunitid != null">
        transunitId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="contactemail != null">
        contactemail,
      </if>
      <if test="registrationtime != null">
        Registrationtime,
      </if>
      <if test="companyid != null">
        companyid,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="rest != null">
        rest,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transunitid != null">
        #{transunitid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="contactemail != null">
        #{contactemail,jdbcType=VARCHAR},
      </if>
      <if test="registrationtime != null">
        #{registrationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="rest != null">
        #{rest,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.pojo.TransunitExample" resultType="java.lang.Long">
    select count(*) from transunit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update transunit
    <set>
      <if test="record.transunitid != null">
        transunitId = #{record.transunitid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.contactemail != null">
        contactemail = #{record.contactemail,jdbcType=VARCHAR},
      </if>
      <if test="record.registrationtime != null">
        Registrationtime = #{record.registrationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.companyid != null">
        companyid = #{record.companyid,jdbcType=INTEGER},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=INTEGER},
      </if>
      <if test="record.rest != null">
        rest = #{record.rest,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update transunit
    set transunitId = #{record.transunitid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      contactemail = #{record.contactemail,jdbcType=VARCHAR},
      Registrationtime = #{record.registrationtime,jdbcType=TIMESTAMP},
      companyid = #{record.companyid,jdbcType=INTEGER},
      total = #{record.total,jdbcType=INTEGER},
      rest = #{record.rest,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.pojo.Transunit">
    update transunit
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="contactemail != null">
        contactemail = #{contactemail,jdbcType=VARCHAR},
      </if>
      <if test="registrationtime != null">
        Registrationtime = #{registrationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyid != null">
        companyid = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="rest != null">
        rest = #{rest,jdbcType=INTEGER},
      </if>
    </set>
    where transunitId = #{transunitid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.pojo.Transunit">
    update transunit
    set name = #{name,jdbcType=VARCHAR},
      contactemail = #{contactemail,jdbcType=VARCHAR},
      Registrationtime = #{registrationtime,jdbcType=TIMESTAMP},
      companyid = #{companyid,jdbcType=INTEGER},
      total = #{total,jdbcType=INTEGER},
      rest = #{rest,jdbcType=INTEGER}
    where transunitId = #{transunitid,jdbcType=INTEGER}
  </update>
</mapper>